@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
text-align: center;
background-color: red;
font-size: 1em;
}

h1 {
  font-weight: bold;
  font-family: 'Oswald';
  font-size: 300%;
}
h3 {
  color: white;
}

li {
  list-style-type: none;
}
