@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);


header {
  background-color: white;
  border: 1px white solid;
  padding: 2%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#two_column {
  background-color: #FFB7CF;
  border:1px black solid;
  padding: 20px;
  font-size: 1em;
}

#left {
  background-color: #9932CC;
  border: 1px black solid;
  padding: 20px;
  float: left;
  width: 30%;
}

#right {
  background-color: #E55B88;
  border: 1px black solid;
  padding: 2%;
  float: right;
  width: 62%;
  font-size: 1em;
}

nav {
  background-color: red;
  font-size: 1.8em;
  float: right;
}
nav a {
  text-decoration: none;
  color: #000000;
  margin: 1.8em;
  display: inline-block;
}

article {
  background-color: #E89C6C;
}

footer {
  background-color: #FF957E;
}

div {
  background-color: #FFE2B8;
  margin: 4em;
}

#one {
  background-color: #FFE2B8;
  border: 10% black solid;
}
body {
  text-align: center;
  padding: 1em;
  background-color: red;
  font-size: 16px;
}
img {
  width: 50%;
  height: auto;
}
h1 {
  font-weight: bold;
  font-family: 'Oswald';
  font-size: 300%;
  background-color: red;
}
#slogan {
  font-style: italic;
  font-family: 'Oswald';
  font-weight: medium;
  font-size: 250%;
}
ul {
    text-align: center;
    font-family: 'Oswald';
    list-style-type: none;
}
p {
  font-family: 'Oswald';
  font-weight: lighter;
}

@media only screen and (max-width: 1190px) {
  #left {
    width: 100%;
    float: none;
    padding: 0px;
  }
  #right {
    width: 100%;
    float: none;
    padding: 0px;
  }
}


@media only screen and (max-width: 800px) {
  .div {
    float: none;
    width: auto;
  }
  .nav {
    float: none;
    width: auto;
  }
}
