body {
  text-align: center;
  background: url(http://images.ibsrv.net/ibsrv/res/src:www.outblush.com/get/women/images/2011/02/t-hanks-cards-lg.jpg);
  background-size: cover;
}
h1 {
  color: FF0000;
  font-family: Helvetica;
}
p {
  color: 000000;
}
ul {
  color: 000000;
}
#slogan {
  font-style: italic;
}
